{% extends 'basic.html' %}
{% block body %}
{% load static %}
<!-- About Us section start -->
<section class="about_us pb-5">
    <h2 id="about_heading"><span>About Us</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text" style="font-family: Poppins-Light;">
       <p class="about_para1">
           IF YOU ARE PREPARING FOR THE ELECTION, THEN STOP IT
       </p>
       <hr style="width:34%; text-align:center;">
       <p class="about_para2" style="font-family: Poppins-Light;">
           Political Survey and Political information technology drives all we do.
       </p>
       <p class="about_para1" style="font-family: Poppins-Light;font-size:20px; text-align: justify;margin-left: 250px;">
           Electioncare uses Political survey and political information technology to change voter behavior.<br> 
           Visit our Political survey or Political information technology divisions to see how we can help you.
       </p>
    </div>
  <!-- circular progress bar start -->
  <!-- <div class="container-fluid my-5 ">
       <div class="row ">
         <div class="col-12 ">
             <div class="cpb ">
               <div class="row">
                 <div class="col-12 col-lg-6">
                     <div class="container1_cpb">
                        <div class="circlechart" data-percentage="97">Political Survey</div>
                     </div>
                 </div>
                 <div class="col-12 col-lg-6">
                      <div class="container1_cpb">
                         <div class="circlechart" data-percentage="95">Political IT</div>
                      </div>
                 </div>
               </div>
                
                 
            </div>
         </div>
       </div>
      
  </div> -->
  <!-- Circular progress bar end -->
  <!-- properties venn diagram section start -->
  <div class="container-fluid three_overlapping_circles">
     <div class="row no-gutters">
       <div class="col-12 col-md-6 col-lg-4">
         <div class="our_mission">
           <h4>Our Mission</h4>
           <hr style="width: 122px; height: 0px;margin-left:0; border: 2px solid #2A5BBA;">
           <p>
             We strive to ensure that. That the popularity of the candidates continued to grow in the right direction 
             through the hard work of our team and innovative technologists and skilled politicians.
            </p>
         </div>
       </div>
        <div class="col-12 col-lg-4">

                <div class="venn-container">
                                  
                        <div class="venncirclft">
                        <a class="venntxtlft" href="#"><img src="{% static 'assets/images/cle_lt.svg' %}" alt="" ></a>
                        </div>
                        <div class="venncircrt">
                        <a class="venntxtrt" href="#"><img src="{% static 'assets/images/cle_rt.svg' %}" alt="" ></a>
                        </div>
            

                        <div class="venncircbtm">
                        <a class="venntxtbtm" href="#"><img src="{% static 'assets/images/cle_btm.svg' %}" alt="" ></a>
                        </div>
                </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
         <div class="our_mission">
           <h4>Our Mission</h4>
           <hr style="width: 122px; height: 0px;margin-left:0; border: 2px solid #2A5BBA;">
           <p>
             We strive to ensure that. That the popularity of the candidates continued to grow in the right direction 
             through the hard work of our team and innovative technologists and skilled politicians.
            </p>
         </div>
       </div>
</div>
  </div>
  <!-- properties venn diagram section stop -->
</section>
<!-- Messages section end -->
<!-- Address start -->

    <!-- Footer start-->

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> -->
 <!-- Circular bar script -->
 
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
</script>
<script src="{% static 'progresscircle.js' %}"></script>
<script >
    $(function(){

  $('.circlechart').circlechart();

});
</script>
{% endblock %}