
{% extends 'basic.html' %}
{% block body %}
{% load static %}
    <section class="blogs">
        <h2 id="blog_heading"><span class="blog_head_text">Blog</span>
           <div class="img_head_container">
                <img src="{% static 'assets/images/Vector 2.svg' %}" id="vc_2_img" alt="">
                <img src="{% static 'assets/images/Vector 3.svg' %}" id="vc_3_img" alt="">
            </div>
        </h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="blog_card_container">
                        
                        <div class="card card_blog-1" style="height:480px;">
                            <div class="date_tag">13<br>mar</div>
                            <!-- <img src = "{% static 'assets/images/Rectangle 88.png' %}"> -->
                            <p class="card_blog_head">
                               Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit,sed do eiusmod tempor incididunt 
                               <br>ut labore exercitation ullamco laboris.  
                            </p>
                            <p class="card_blog_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br> 
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <div class="card lay_2_card" style="margin-bottom: 10px;">
                                <div class="date_tag">13<br>mar</div>
                                <div class="row no-gutters">
                            <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                                <img src="{% static 'assets/images/Rectangle 92.png' %}"alt="" class="card_lay2_img">
                            </div>
                            <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                <div class="card-text  text_lay2">
                                    <div class="card_lay2_head">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor 
                                        incididunt ut labore ...
                                    </div>
                                    <div class="card_lay2_text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                        nostrud exercitation ullamco
                                    </div>
                                    <div class="lay2_btn_container ">
                                       <a href="#" class="lay2_card_btn">+ Read more</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12">
                            <div class="card lay_2_card" style="margin-bottom: 10px;">
                                <div class="date_tag">13<br>mar</div>
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                                <img src="{% static 'assets/images/Rectangle 98.png' %}"alt="" class="card_lay2_img">
                            </div>
                            <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                <div class="card-text  text_lay2">
                                    <div class="card_lay2_head">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor 
                                        incididunt ut labore ...
                                    </div>
                                    <div class="card_lay2_text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                        nostrud exercitation ullamco
                                    </div>
                                    <div class="lay2_btn_container ">
                                       <a href="#" class="lay2_card_btn">+ Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12">
                            <div class="card lay_2_card" style="margin-bottom: 10px;">
                                <div class="date_tag">13<br>mar</div>
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                                <img src="{% static 'assets/images/Rectangle 101.png' %}"alt="" class="card_lay2_img">
                            </div>
                            <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                <div class="card-text  text_lay2">
                                    <div class="card_lay2_head">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor 
                                        incididunt ut labore ...
                                    </div>
                                    <div class="card_lay2_text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                        nostrud exercitation ullamco
                                    </div>
                                    <div class="lay2_btn_container ">
                                       <a href="#" class="lay2_card_btn">+ Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card card_lay3">
                        <div class="card-img">
                            <img src="{% static 'assets/images/Rectangle 104.png' %}" alt="">
                        </div>
                        <div class="card-text">
                            <h3 class="lay3_card_head">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </h3>
                            <p class="lay3_card_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit ed do eiusmod tempor incididunt
                                 ut labore et dolore magna aliqua
                            </p>
                            <div class="card_lay3_btn_container">
                                <a href="#" alt="" class="card_lay3_btn">+ Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card card_lay3">
                        <div class="card-img">
                            <img src="{% static 'assets/images/Rectangle 107.png' %}" alt="">
                        </div>
                        <div class="card-text">
                            <h3 class="lay3_card_head">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </h3>
                            <p class="lay3_card_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit ed do eiusmod tempor incididunt
                                 ut labore et dolore magna aliqua
                            </p>
                            <div class="card_lay3_btn_container">
                                <a href="#" alt="" class="card_lay3_btn">+ Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 p-3">
                    <div class="card card_lay3">
                        <div class="card-img">
                            <img src="{% static 'assets/images/Rectangle 110.png' %}" alt="">
                        </div>
                        <div class="card-text">
                            <h3 class="lay3_card_head">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </h3>
                            <p class="lay3_card_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit ed do eiusmod tempor incididunt
                                 ut labore et dolore magna aliqua
                            </p>
                            <div class="card_lay3_btn_container">
                                <a href="#" alt="" class="card_lay3_btn">+ Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}