{% extends 'basic.html' %}
{% block body %}
{% load static %}

<!-- politic servey banner start -->
<section class="politic_survey_banner " >
       <div class="container-fluid pt-5 px-0 ">
         <div class="row no-gutters ">
           <div class="col-12 col-lg-5">
             <div class="surv_card">
               <div class="surv_card-body">
                 <h3>
                   Political Survey & Information Technology drives all we do
                 </h3>
                 <h5>If you are preparing for the election you have reached the right place</h5>
                 <p>Political Survey & Information Technology drives all we do</p>
                 <div class="survey_buttons">
                    <a id="srv_btn1" href="#">Survey/Campaign</a>
                    <a id="srv_btn2" href="#">IT Services</a>
                 </div>
                 <div class="check_txt">
                   <img src="{% static 'assets/images/tick_sign.svg' %}" alt="">
                   <span>Election related surveys</span><br>
                   <img src="{% static 'assets/images/tick_sign.svg' %}" alt="">
                   <span>Election Results</span>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-12 col-lg-7 ">
             <div class="img_contain ">
               
                  <img src="static/assets/images/Rectangle 12.svg" alt="" id="img2_surv">
               
               
                 <img src="static/assets/images/Group 7.svg" alt="" id="img1_surv">
              
               
               
             </div>
           </div>
           <div class="col-12 ">
             <p id="last_surv_sec">
               Our IT Based Services - Pre Poll Survey, Election war Room Call Center, 
               Election Management Software, Booth Man
             </p>
           </div>
         </div>
       </div>
    </section>
<!-- politic servey banner end -->
<!-- Election change section start -->
    <section class="ech">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <!-- <div class="content"> -->
              <h3>Elections Win Lets Change History </h3>
              <p>
                Election Care best Political Consulting & Political Campaign Services firm in India. 
                Help you boost up your image & reputation using the Voters. We are the Best political 
                consulting firm in India. We make Visible you on multiple channels connections and resources. 
                We Deliver Public Leader & Party Menifesto or Voice to more peoples to aware them. So Join best 
                political campaign management agency of india. We have professional & skilled staff. election care have 
                Good experience in political management in India.  We helped many national & state level leaders to 
                convey their message & Campaign in society through political campaign India. Election Care Services are 
                Digital Base. With Seasoned strategist and the best creative mind in the Political  and IT services, 
                We have the right team to get the good things done…
              </p>
            <!-- </div> -->
          </div>
          <div class="col-12 d-none d-lg-block col-lg-1">
            <div class="img_content">
              <img src="static/assets/images/Rectangle 20.svg" alt="" id="img_1ech">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-5">
            <div class="img_content">
              <img src="static/assets/images/Voting-bro 1.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Election change end -->
<!-- Our capabilities section start -->
    <section class="our_cap">
      <div class="oc_head">
        <h3><span>Our </span><span id="oc_hehad_cap">Capabilities</span>
            <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
        </h3>
      </div>
      <div class="container-fluid py-3">
          <div class="row">
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container1" class="card-img-container">
                            <img src="static/assets/images/lead_train.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card1_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container2" class="card-img-container">
                            <img src="static/assets/images/Group 10.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card2_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container3" class="card-img-container">
                            <img src="static/assets/images/Group 8.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card3_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container4" class="card-img-container">
                            <img src="static/assets/images/Group 11.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card4_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container5" class="card-img-container">
                            <img src="static/assets/images/intro_consult.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card5_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container6" class="card-img-container">
                            <img src="static/assets/images/fon.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card6_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
          </div>
      </div>
    </section>
<!-- our capabilities section end -->

<!-- Election care services start -->
<div class="fancy-border ">
    <div class="container-fluid my-content">
       <div class="row">
           <div class="col-12 col-lg-6">
              <div class="img-container-fancy">
                  <img src="static/assets/images/Rectangle 30.svg" alt="">
              </div>
           </div>
           <div class="col-12 col-lg-6">
               <div class="fancy_border_content">
                   <h3 >
                       <span id="ecs_head">Election Care</span>
                       <div class="img_head_container">
                          <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                          <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
                       </div>
                       <br><span> Services Explained</span>
                   </h3>
                   <p>
                       There has been an increase in the political agitation regarding the assembly elections, 
                       such that the stir only increases when the election is about to come. There are two teams 
                       in the election game, the voter and the candidate.
                   </p>
                   <p>
                        In this game, our task is to understand the behavior of the voter and make a strategy to make 
                        it in our favor.
                   </p>
                   <p>
                        There will be many of you candidates who either want to contest elections or have taken a step
                         ahead and formed your own party. After this you leave the work to us, say that since 10 years
                          our experienced team has worked with many parties like you and you, who have covered the 
                          journey from floor to Top together with us.
                   </p>
                   <p>
                       Our name is Election Care and Google Bhaiya will take you to us with great ease. 
                       We are the Election Management Company who will give a new flight to your political career.
                   </p>
               </div>
           </div>
       </div>
    </div>
</div>

<!-- Election Care Services end -->
<!-- Election care serve also start -->
<section class="elec_serve_also">
    <h3><span id="esa_head">Election Care</span>
      <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
      <br> <span>Serve Also</span></h3>
    <div class="ecsa_container">
       <a class="esa_btn"  style="width:300px;height:300;" href="#">Opinion Poll/Exit Poll</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Political Survey Research</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Door to Door Survey</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Booth Label Micro</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">War Room Call Center</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Voter List in Excel</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Voter Slip Printing</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Vote Appeal and Awareness</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Digital Media Election Campaign</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Social Media Campaign Management</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Election Management Campaign</a>
       <a class="esa_btn" style="width:300px;height:300;" href="#">Political Documentary Film</a>
       <!-- <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a> -->
</div>
</section>
<!-- Election care serve also end -->
<!-- Political Campaign and promotion start-->
<div class="pcnp ">
    <div class="container-fluid my-content_pcnp">
       <div class="row">
           <div class="col-12 col-lg-6">
               <div class="pcnp_content">
                   <h3 >
                       <span id="pcnp_head">Political Election</span>
                       <div class="img_head_container">
                         <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                         <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
                       </div>
                       <br><span> Campaign & Promotion</span>
                   </h3>
                   <p>
                       There has been an increase in the political agitation regarding the assembly elections, 
                       such that the stir only increases when the election is about to come. There are two teams 
                       in the election game, the voter and the candidate.
                   </p>
                   <p>
                        In this game, our task is to understand the behavior of the voter and make a strategy to make 
                        it in our favor.
                   </p>
                   <p>
                        There will be many of you candidates who either want to contest elections or have taken a step
                         ahead and formed your own party. After this you leave the work to us, say that since 10 years
                          our experienced team has worked with many parties like you and you, who have covered the 
                          journey from floor to Top together with us.
                   </p>
                   <p>
                       Our name is Election Care and Google Bhaiya will take you to us with great ease. 
                       We are the Election Management Company who will give a new flight to your political career.
                   </p>
               </div>
           </div>
           <div class="col-12 col-lg-6">
              <div class="img-container-pcnp">
                  <img src="static/assets/images/Rectangle 30.svg" alt="">
              </div>
           </div>
       </div>
    </div>
</div>

<!-- Political Campaign and promotion end-->

   
 {% endblock %}