{% extends 'basic.html' %}
{% block body %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <meta charset="utf-8"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<style>
    .container {
  position: relative;
  width: 50%;
 
}

.image {
  display: block;
  width: 600px;
  height: auto;
}

.overlay {
    border-radius: 15px;
  border: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 650px;
  opacity: 0;
  transition: .5s ease;
  background-color: #2A5BBA;
}

.container:hover .overlay {
  opacity: 1;
}

.cap_text {
  color: white;
  font-size: 35px;
  font-family: Poppins-Regular;
  position: absolute;
  line-height: 1.5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Election care serve */




*,
*:before,
*:after {
  box-sizing: border-box;
}

.quote-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
  margin:22px;
}

.text {
  width: 120%;
  height: 120%;
  /*BLUE BG*/
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 172, 1) 0%,
    rgba(0, 128, 172, 1) 70%,
    rgba(0, 128, 172, 0) 70.3%
  );
 
  position: relative;
  margin: 15px;
  color: white;
}

.text p {
  height: 100%;
  font-size: 10px;
  line-height: 1.5;
  padding: 0px;
  
  /* text-align: center; */
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text::before {
  content: "";
  width: 100%;
  height: 100%;
  /* float:left; */
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 7%;
}

.text p::before {
  content: "";
  width: 100%;
  height: 100%;
  /* float: right; */
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
  );
  shape-margin: 7%;
}



.quote-wrapper::before {
  
  font-size: 270px;
  height: 82px;
  line-height: 0.78;
  line-height: 1;
  position: absolute;
  top: -100px;
  left: 25px;

  font-family: sans-serif, serif;
  color: #ccc;
  opacity: 0.9;
}

@media (min-width: 850px) {
  .quote-wrapper {
    width: 200px;
    height: 200px;
  }

  .quote-wrapper::before {
    font-size: 80px;
  }

  .text p {
    font-size: 25px;
    display:contents;
    /* padding-top: 800px;
    padding-left: 300px; */
    text-align:justify;
    font-style: italic;
  }

 
}

</style>
<!-- politic servey banner start -->
<section class="politic_survey_banner " >
       <div class="container-fluid pt-5 px-0 ">
         <div class="row no-gutters ">
           <div class="col-12 col-lg-5">
             <div class="surv_card">
               <div class="surv_card-body">
                 <h3>
                   Political Survey & Information Technology drives all we do
                 </h3>
                 <h5>If you are preparing for the election you have reached the right place</h5>
                 <p>Political Survey & Information Technology drives all we do</p>
                 <div class="survey_buttons">
                    <a id="srv_btn1" href="#">Survey/Campaign</a>
                    <a id="srv_btn2" href="#">IT Services</a>
                 </div>
                 <div class="check_txt">
                   <img src="{% static 'assets/images/tick_sign.svg' %}" alt="">
                   <span>Election related surveys</span><br>
                   <img src="{% static 'assets/images/tick_sign.svg' %}" alt="">
                   <span>Election Results</span>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-12 col-lg-7 ">
             <div class="img_contain ">
               
                  <img src="static/assets/images/Rectangle 12.svg" alt="" id="img2_surv">
               
               
                 <img src="static/assets/images/Group 7.svg" alt="" id="img1_surv">
              
               
               
             </div>
           </div>
           <div class="col-12 ">
             <p id="last_surv_sec">
               Our IT Based Services - Pre Poll Survey, Election war Room Call Center, 
               Election Management Software, Booth Man
             </p>
           </div>
         </div>
       </div>
    </section>
<!-- politic servey banner end -->
<!-- Election change section start -->

    <section class="ech" style="font-family: Poppins-light; line-height: 25px; font-size :22px;">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <!-- <div class="content"> -->
              <h3 style="color:#2A5BBA;">Who We are
               </h3>
              <p style="font-family:Poppins-light; font-size:20px; line-height:1.5;">
                The Young Politics is the election Care best Political Consulting & Political Campaign Services firm in India. 
                Help you boost up your image & reputation using the Voters. We are the Best political 
                consulting firm in India. We make Visible you on multiple channels connections and resources. 
                We Deliver Public Leader & Party Menifesto or Voice to more peoples to aware them. So Join best 
                political campaign management agency of india. We have professional & skilled staff. election care have 
                Good experience in political management in India.  We helped many national & state level leaders to 
                convey their message & Campaign in society through political campaign India. Election Care Services are 
                Digital Base. With Seasoned strategist and the best creative mind in the Political  and IT services, 
                We have the right team to get the good things done…
              </p>
            <!-- </div> -->
          </div>
          <!-- <div class="col-12 d-none d-lg-block col-lg-1"> -->
            <!-- <div class="img_content"> -->
                <div class="container">
                    <img src="{% static 'assets/politics.jpg' %}" class="image">
                    <div class="overlay">
                      <div class="cap_text">The Young Politics Team <br>"Empowering the Youth For a Better Future"</div>
                    </div>
                  </div>
              <!-- <img src="static/assets/images/Rectangle 20.svg" alt="" id="img_1ech"> -->
            <!-- </div> -->
          </div>
       
        </div>
      </div>
    </section>
<!-- Election change end -->
<!-- Vision -->
<!-- Our capabilities section start -->
    <section class="our_cap" >
      <div class="oc_head">
        <h3><span> </span><span id="oc_hehad_cap"> Our Services</span>
        <!-- <h3><span> </span><span id="oc_hehad_cap"> Our Vision</span> -->
            <!-- <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div> -->
        <!-- </h3>  -->
        <marquee width="100%" scrollamount='10' direction="left" style="
															padding: 15px;
															font-size: 25px;
															color: black;
															background: #f4fafa;
															font-weight: 500;
															font-family: system-ui;
														">
              <div class="container-fluid py-3">
          <div class="row">
              <!-- <div class="col-12 col-lg-6"> -->
                    <div class="card-container">
                        <div id="card-img-container1" class="card-img-container">
                            <img src="static/assets/images/lead_train.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card1_head" class="card_head" style="font-family:Poppins-Medium;">
                              Leadership Traning
                            </h3>
                            <!-- <p style="font-family: Poppins-light; font-size :20px;">
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p> -->
                        <!-- </div> -->
                    <!-- </div> -->
              </div>
              <!-- <div class="col-12 col-lg-6"> -->
                    <!-- <div class="card-container"> -->
                        <div id="card-img-container2" class="card-img-container">
                            <img src="static/assets/images/Group 10.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card2_head" class="card_head">
                              Shadow Campaign
                            </h3>
                            <!-- <p style="font-family: Poppins-light; font-size :20px;">
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p> -->
                        </div>
                    <!-- </div> -->
              <!-- </div> -->
              <!-- <div class="col-12 col-lg-6"> -->
                    <!-- <div class="card-container"> -->
                        <div id="card-img-container3" class="card-img-container">
                            <img src="static/assets/images/Group 8.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card3_head" class="card_head">
                              Vote Appeal and Awareness
                            </h3>
                            <!-- <p style="font-family: Poppins-light; font-size :20px;">
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p> -->
                        </div>
                    <!-- </div> -->
              <!-- </div> -->
              <!-- <div class="col-12 col-lg-6"> -->
                    <!-- <div class="card-container"> -->
                        <div id="card-img-container4" class="card-img-container">
                            <img src="static/assets/images/Group 11.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card4_head" class="card_head">
                              Door to Door Campaign
                            </h3>
                            <!-- <p style="font-family: Poppins-light; font-size :20px;">
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p> -->
                        </div>
                    <!-- </div> -->
              <!-- </div> -->
              <!-- <div class="card-container"> -->
                <div id="card-img-container4" class="card-img-container">
                    <img src="static/assets/images/Group 11.svg"alt="">
                </div>
                <div class="card-content">
                    
                    <h3 id="card4_head" class="card_head">
                    Advertising Vans
                    </h3>
                    <!-- <p style="font-family: Poppins-light; font-size :20px;">
                        We work with top training providers to tie those leadership roles to you. 
                        We also have the expertise to help you develop your internal leadership development
                         program.
                    </p> -->
                </div>
            <!-- </div> -->
            <!-- <div class="card-container"> -->
              <div id="card-img-container4" class="card-img-container">
                  <img src="static/assets/images/Group 11.svg"alt="">
              </div>
              <div class="card-content">
                  
                  <h3 id="card4_head" class="card_head">
                   Fund Raising Programme
                  </h3>
                  <!-- <p style="font-family: Poppins-light; font-size :20px;">
                      We work with top training providers to tie those leadership roles to you. 
                      We also have the expertise to help you develop your internal leadership development
                       program.
                  </p> -->
              </div>
          <!-- </div> -->
              <!-- <div class="col-12 col-lg-6"> -->
                    <!-- <div class="card-container"> -->
                        <div id="card-img-container5" class="card-img-container">
                            <img src="static/assets/images/intro_consult.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card5_head" class="card_head">
                               Voter Communication
                            </h3>
                            <!-- <p style="font-family: Poppins-light; font-size :20px;">
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p> -->
                        </div>
                    <!-- </div> -->
              <!-- </div>
              <div class="col-12 col-lg-6"> -->
                    <!-- <div class="card-container"> -->
                        <div id="card-img-container6" class="card-img-container">
                            <img src="static/assets/images/fon.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card6_head" class="card_head">
                               Booth Management
                            </h3>
                            <!-- <p style="font-family: Poppins-light; font-size :20px;">
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p> -->
                        </div>
                    </div>
              <!-- </div> -->
          </div>
      </div>
      </marquee>
      <!-- <marquee width="100%" scrollamount='10' direction="left" style="
      padding: 15px;
      font-size: 25px;
      color: black;
      background: #f4fafa;
      font-weight: 500;
      font-family: system-ui;
    ">   
<div class="container"> -->
  <!-- <h2>Carousel Example</h2> -->
  <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:1000px;margin-left: -180px;"> -->
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <!-- <div class="carousel-inner">

      <div class="item active">
        <img src="{% static 'assets/leadership.jpg' %}" alt="" style="width:100%;">
        <div class="carousel-caption">
          <h3>Leadership</h3>
          <p>
Leadership Traning
We work with top training providers to tie those leadership roles to you. We also have the expertise to help you develop your internal leadership development program.</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'assets/analytics.jpg' %}" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Analytics & Political Intelligence
</h3>
          <p>Just an indication of the current trend will make you stronger in the future election campaign to put in the best effort and achieve results. Data analytics is also used to understand election results.</p>
          </div>
      </div>
    
      <div class="item">
        <img src="{% static 'assets/dtd.jpg' %}" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Door To Door Campaign
</h3>
          <p>We provide door-to-door campaign services for the promotion of the candidate</p>
        </div>
      </div>
   <div class="item">
        <img src="{% static 'assets/commun.png' %}" alt="" style="width:100%;">
        <div class="carousel-caption">
          <h3>Voter Communication
</h3>
          <p>Regular coordination of a good leader with the voters of the area is necessary, our team is able to work on it.</p>
        </div>
      </div>
  
    </div>
       Left and right controls -->
      <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
</marquee> --> 
    </section>
<!-- our capabilities section end -->

<!-- Election care services start -->
<!-- <div class="fancy-border "> -->
    <!-- <div class="container-fluid">
       <div class="row">
           <div class="col-12 col-md-6"> -->
              <!-- <div class="img-container-fancy"> -->
                  <!-- <img src="static/assets/vision.webp" alt="" style="width:600px;"> -->
              <!-- </div> -->
           <!-- </div>
           <div class="col-12 col-md-6"> -->
               <!-- <div class="fancy_border_content"> -->
                   <!-- <h3 >
                       <span id="ecs_head">Vision and Values</span>
                      
                   </h3>
                   <p  style="font-family:Poppins-light; font-size:20px; line-height:1.5;">
                    Our aim is to mobilise a generation of young adults to become more politically active. This starts with engaging them through social media and grassroots projects such as school initiatives. We then aim to ensure that there is accessible political education to all those who seek it through our learn section and articles. An exchange of ideas is also key to our mission through our events, debates and opinion articles. Finally, we act as a facilitator, linking young people with partner campaigns according to their interests.
                   </p> -->
                   <!-- <p>
                        In this game, our task is to understand the behavior of the voter and make a strategy to make 
                        it in our favor.
                   </p>
                   <p>
                        There will be many of you candidates who either want to contest elections or have taken a step
                         ahead and formed your own party. After this you leave the work to us, say that since 10 years
                          our experienced team has worked with many parties like you and you, who have covered the 
                          journey from floor to Top together with us.
                   </p>
                   <p>
                       Our name is Election Care and Google Bhaiya will take you to us with great ease. 
                       We are the Election Management Company who will give a new flight to your political career.
                   </p> -->
               <!-- </div> -->
           </div>
       </div>
    </div>
<!-- </div> -->

<!-- Election Care Services end -->
<!-- Election care serve also start -->
<section class="elec_serve_also">
    <h3><span id="ecs_head">Our Services</span>
      <!-- <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div> -->
      <br> </h3>
    <div class="ecsa_container">
      <!-- <div class="row no-gutters" > -->
        <div class="col-sm-3">
      <div class="quote-wrapper">
        <blockquote class="text" >
          <p>Opinion<br> Poll And<br> Exit Poll</p>
         
        </blockquote>
        </div>
        </div>
        <div class="col-sm-3">
      <div class="quote-wrapper">
        <blockquote class="text" >
          <p>Door to <br>Door<br> Campaign</p>
         
        </blockquote>
        </div>
        </div>
        <div class="col-sm-3">
      <div class="quote-wrapper">
        <blockquote class="text" >
          <p>Booth<br> Label<br> Micro</p>
         
        </blockquote>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="quote-wrapper">
          <blockquote class="text" >
            <p>War Room<br> Setup</p>
           
          </blockquote>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="quote-wrapper">
            <blockquote class="text" >
              <p>Election<br> Management<br> Software</p>
             
            </blockquote>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="quote-wrapper">
              <blockquote class="text" >
                <p>Printing <br>Solution</p>
               
              </blockquote>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="quote-wrapper">
                <blockquote class="text" >
                  <p>Social<br> Media<br> Management</p>
                 
                </blockquote>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="quote-wrapper">
                  <blockquote class="text" >
                    <p>Political<br> Documentary <br>Film</p>
                   
                  </blockquote>
                  </div>
                </div>
      </div>
       <!-- <div class="esa_btn"  style="width:33.33%x;height:300;background-color: white;border-radius: 35px;">Opinion Poll/Exit Poll</div>
       <div class="esa_btn" style="width:600px;height:300;background-color: white;" >Political Survey Research<div class="container">Political survey is a synonym for new success with a new flight in democratic election.Political survey and research shows us to adapt our election environment and ideology of conflict in the field of opposite candidate.</div></div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;" >Door to Door Survey<div class="container">Databases received from door to door surveys can be able to build a very strong hold (via Social Media, SMS, Voice Call) through IT Services</div></div>
       <div class="esa_btn" style="width:100px;height:300px;background-color: white;">Booth Label Micro</div><div class="container">Young Politics works on the principle of voter power.Our Surveyors had a good experinece and they have special political experience at the booth level of what and how to talk on booth star.</div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;" >War Room Call Center<div class="container"></div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;">Voter List in Excel<div class="container"></div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;">Voter Slip Printing<div class="container"></div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;">Vote Appeal and Awareness<div class="container"></div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;" >Digital Media Election Campaign<div class="container"></div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;" >Social Media Campaign Management<div class="container"></div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;" >Election Management Campaign<div class="container"></div>
       <div class="esa_btn" style="width:300px;height:300;background-color: white;">Political Documentary Film<div class="container"></div> -->
       <!-- <a class="esa_btn" style="border-radius: 80%;" href="#">Opinion Poll and Exit Poll</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a> -->
</div>
</section>
<!-- Election care serve also end -->
<!-- Political Campaign and promotion start-->
<!-- <div class="pcnp "> -->
    <!-- <div class="container-fluid my-content_pcnp"> -->
       <div class="row" style="margin:15px;text-align:justify;">
           <div class="col-12 col-lg-6">
               <div class="pcnp_content">
                   <h3 >
                       <span >Election</span>
                       <!-- <div class="img_head_container">
                         <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                         <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
                       </div> -->
                       <br><span> Campaign & Promotion</span>
                   </h3>
                   <p>
                       There has been an increase in the political agitation regarding the assembly elections, 
                       such that the stir only increases when the election is about to come. There are two teams 
                       in the election game, the voter and the candidate.
                   </p>
                   <p>
                        In this game, our task is to understand the behavior of the voter and make a strategy to make 
                        it in our favor.
                   </p>
                   <p>
                        There will be many of you candidates who either want to contest elections or have taken a step
                         ahead and formed your own party. After this you leave the work to us, say that since 10 years
                          our experienced team has worked with many parties like you and you, who have covered the 
                          journey from floor to Top together with us.
                   </p>
                   <p>
                       Our name is Election Care and Google Bhaiya will take you to us with great ease. 
                       We are the Election Management Company who will give a new flight to your political career.
                   </p>
               </div>
           </div>
           <div class="col-12 col-lg-6">
              <!-- <div class="img-container-pcnp"> -->
                  <img src="static/assets/camp.jpg" alt="" style="margin-left:100px;margin-top:100px;width:600px;height:400px;">
              <!-- </div> -->
           </div>
       <!-- </div> -->
    </div>
<!-- </div> -->

<!-- Political Campaign and promotion end-->

   
 {% endblock %}