{% extends 'basic.html' %}
{% block body %}
{% load static %}
<!-- Messages section start -->
<section class="msgs">
    <h2 id="msg_heading"><span>Message</span>
            <div class="img_head_container">
                <img src="{% static 'assets/images/Vector 2.svg' %}" id="vc_2_img" alt="">
                <img src="{% static 'assets/images/Vector 3.svg' %}" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="msg_out_container">
        <div class="card msg_container">
        <div class="msg_para">
            <p>
                 Election Care (As Base Services For freelancer) works on research and information technology in the field 
                 of politics. We are very pleased to do this work with lot of work and hard work and we make every effort to 
                 ensure your election campaign is a victory. You have shown faith to stay connected with us. I am grateful to 
                 him. I request you to contact us at info@electioncare.in
            </p>
            <img src="{% static 'assets/images/man_model.png' %}" alt="" >
        </div>
        <h3 class="person_name">
          <div class="img_head_container_rev">
                <img src="{% static 'assets/images/Vector 3.svg' %}" id="vc_3_img" alt="">
                <img src="{ % static 'assets/images/Vector 2.svg' %}" id="vc_2_img" alt="">
            </div>
          Wade Warren
          <div class="img_head_container">
                <img src="{% static 'assets/images/Vector 2.svg' %}" id="vc_2_img" alt="">
                <img src="{% static 'assets/images/Vector 3.svg' %}" id="vc_3_img" alt="">
            </div>
        </h3>
       <p class="person_post">Customer Reach</p>
    </div>
    <div class="card msg_container">
        <div class="msg_para">
            <p>
                 Election Care (As Base Services For freelancer) works on research and information technology in the field 
                 of politics. We are very pleased to do this work with lot of work and hard work and we make every effort to 
                 ensure your election campaign is a victory. You have shown faith to stay connected with us. I am grateful to 
                 him. I request you to contact us at info@electioncare.in
            </p>
            <img src="{% static 'assets/images/man_model.png' %}" alt="" >
        </div>
        <h3 class="person_name">
          <div class="img_head_container_rev">
                <img src="{% static 'assets/images/Vector 3.svg' %}" id="vc_3_img" alt="">
                <img src="{% static 'assets/images/Vector 2.svg' %}" id="vc_2_img" alt="">
            </div>
          Wade Warren
          <div class="img_head_container">
                <img src="{% static 'assets/images/Vector 2.svg' %}" id="vc_2_img" alt="">
                <img src="{% static 'assets/images/Vector 3.svg' %}" id="vc_3_img" alt="">
            </div>
        </h3>
       <p class="person_post">Customer Reach</p>
    </div>
    </div>
    
</section>
<!-- Messages section end -->
{% endblock %}