{% extends 'basic.html' %}
{% block body %}
{% load static %}
<!-- Why Choose electioncare section start -->
<section class="why_ec pt-2 pb-5">
    
        <h2><span>Why Choose </span><div class="img_head_container">
                <img src="{% static 'assets/images/Vector 2.svg' %}" id="vc_2_img" alt="">
                <img src="{% static 'assets/images/Vector 3.svg' %}" id="vc_3_img" alt="">
            </div>
            <br><span id="wc_ec_head">ElectionCare</span>
            
        </h2>
    
 <div class="wc_ec_text">
     <!-- member1 -->
    <div class="card text-center">
        <div class="card-body">
            <p class="ec_post" style="font-family: Poppins-Light;text-align:justify">
               As Digital & Survey base Election Care aims to show you your current political status by keeping in view 
               the opinion of the voter according to the current situation at your election. And according to the current 
               political situation, the campaign runs according to the need for an increase in your election. We have 
               many professional and qualified staff who have experience in the political field. Who work hard for you 
               in your area. In the past years, our team has helped many political leaders to create a good image in 
               their message and in their electoral field through election campaign. The team of Election Care works 
               on the principle of Voter Power and Thinking. Understanding the current political situation and voters’ 
               views in our election, our team runs various election campaigns for the purpose of political supervision 
               and is committed to fulfilling all the requirements related to the Election Care e-campaign service. We 
               also make visible on many channels like the current communication revolution (facebook, twitr, whatsup, 
               sms, voicecall).
            </p>
        </div>
    </div>
 </div>   
    
</section>
<!-- Our team section end -->
{% endblock %}