{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<section class="about_us pb-5">
    <h2 id="about_heading"><span>Janata Darbar Solution</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text">
       <p class="about_para1">
          
       </p>
      
       <p class="about_para2">
       </p>
      
       <div class="about_us"style="text-align:justify; margin-left:120px;margin-right:100px;font-family: Poppins-light; font-size:22px;">
        <p>There is no doubt that the leaders and leaders of the people are connected to the leaders of the people, and the connectivity of the leaders is not limited to the leaders of the people and the leaders of the state government. For the leaders of the public and the service of the public, only the people and the leaders,It is the people who will be able to connect with the leaders in a big way Softwares take the duration of their work in the labor market to avoid them. along with, The duration of work schedules by running in Kamacharam. All the recruits of all the recruits will be able to find out the status of their work, and also, the following will be available and will be available. It will give you a good deal of time. Only one person will have to give a chance to the people,I do not know how to do all of their responsibilities.</p>
       </div>
    </div>
  
 </section>

{% endblock %}