{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<section class="about_us pb-5">
    <h2 id="about_heading"><span></span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text">
       <p class="about_para1">
          
       </p>
      
       <p class="about_para2">
       </p>
      
       <div class="about_us"style="text-align:justify; margin-left:120px;margin-right:100px;font-family: Poppins-light; font-size:22px;">
        <p>In today’s digital world where every person has his own digital address. Through which we have an identity in the people. This is how we can understand the importance of the website of a political person. The politician website is a form of political marketing that shares all important information about you and what you are doing. This is why people can develop a more personal relationship with you. At this time, political websites help people to maintain confidence by informing them about the happenings in their local government. In addition, the website mentions various methods of dissemination in elections.</p>
        <p>When the elected representative of the public becomes an MLA, MP or Minister, then his identity is in his constituency, but if this public servant (politician) comes in his own digital medium and makes his website and his own in the world of internet Builds identity In that case, his name gets stored on a server in the whole world, then any person can gather information about that public servant from anywhere. like-</p>
        <li>You can get details about how to know your lifestyle and how to contact you</li>
        <li>A description of the party manifesto on the website so that people can know the party’s goals.</li>
        <li>A single platform for all social media links in one place so that people can easily connect with the candidate.</li>
        <li>Create a portfolio website and you can put your thoughts among people through a blog.</li>
        <li>Update with high-quality information-graphics.</li>
        <li>Integrate all your social media channels with APIs.</li>
        <li>The activities done by you can reach the public within minutes.</li>
        <li>People can also be connected to their digital social media from here.</li>
       
        <p class="about_para2"> How can a website increase your online visibility?</p>
        <li>Know the optimization on the page appropriately.</li>
        <li>Publish regular blog content.</li>
        <li>Be active on some social media (Facebook, Twitter, Youtube )networks as well as increase connection with people.</li>
        <li>Run targeted Facebook ads and understand the logo.</li>
        <li>Display guest Blogs on relevant websites.</li>
        <li>Encourage your customers to leave online reviews.</li>
        <p class="about_para2">Benefits of website in politics</p>
       <li>Present your political convictions</li>
       <li>Blog and newsletters Updates</li>
       <li>Events calendar management</li>
       <li>Contact page and subscriptions For Voters</li>
       <li>Photo and video gallery of Major events and achievements</li>
       <li>Present your party and its members</li>
       <p class="about_para2"> How can a website increase your online visibility?</p>
       <li>Know the optimization on the page appropriately.</li>
       <li>Publish regular blog content.</li>
       <li>Be active on some social media networks as well as increase connection with people.</li>
       <li>Run targeted Facebook ads and understand the logo.</li>
       <li>Display guest blogs on relevant websites.</li>
       <li>Encourage your customers to leave online reviews.</li>
       <p class="about_para2"> What is Blog?</p>
       <li>A candidate’s blog to make them popular among people.</li>
       <li>The way to reach the public from the political point of view which people study.</li>
       <li>Blog can change people’s thinking towards you among political constituencies.</li>
       <li>A portal containing daily articles on activities</li>
    </div>
    </div>
  
 </section>

{% endblock %}