<!doctype html>
<html lang="en">
  <head>
    <title>Messages</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">

    <!-- fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Tienne:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="progresscircle.css">
     <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="about.css">
    <!-- <link rel="stylesheet/less" type="text/css" href="circular.less" /> <script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>-->
     <script type="text/javascript"> 
     	document.addEventListener("DOMContentLoaded", function(){
		
		  window.addEventListener('scroll', function() {
	       
			if (window.scrollY > 80) {
				document.getElementById('navbar_top').classList.add('fixed-top');
				// add padding top to show content behind navbar
				navbar_height = document.querySelector('.navbar').offsetHeight;
				document.body.style.paddingTop = navbar_height + 'px';
		  	} else {
			 	document.getElementById('navbar_top').classList.remove('fixed-top');
				 // remove padding top from body
				document.body.style.paddingTop = '0';
		  	} 
		  });
    	}); 
    	// DOMContentLoaded  end
     </script>
  </head>
  <body>
      <!-- navbar start -->
      <!-- Social links nav -->
     <div class="container-fluid social_nav">
         <div class="row ">
             <div class="col-12 text-center">
            <div class="header_top_contain">
              <a href="https://www.facebook.com/"> <img src="/assets/images/fb.svg"></a>
              <a href="https://www.instagram.com/?hl=en"> <img src="/assets/images/insta.svg"></a>
              <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"> <img src="/assets/images/tweet.svg"></a>
               <a href="https://www.linkedin.com/"> <img src="/assets/images/linkedIn.svg"></a>
             </div>
            </div>
         </div>
     </div>
      <header id="navbar_top" class="header">
    
        <div class="container-fluid  ">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-6 text-left ">
                              <div class="row no-gutters">
                                <div class="col-12">
                                    
                                        <div class="in_contact">
                                       <img src="/assets/images/phone.svg" alt="logo"><span>+91 983 456 7894</span>
                                    </div>
                                     <div class="in_contact">
                                       <a class="" href="gmail.com">
                                          <img src="/assets/images/email.svg" alt="logo"><span>random@gmail.com</span>
                                       </a>
                                     </div>
                                
                                   
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-12 col-lg-6">
                                <div class="btn_enq">
                                    <a id="enq" href="#">
                                      Enquiry
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters nav-center_class" >
                          <div class="d-none d-md-inline text-white " style="width:40%;">
                            <hr style="border:1px solid #fff; width:100%; background-color:#fff; margin:1.8em 0;">
                          </div>
                          <div class="col text-sm-left text-md-center text-white">
                            
                                <h3 id="nav_logo" class="text-md-center">
                                  The<br>
                                  Name
                                </h3>

                           
                            </div>
                           <div class="d-none d-md-inline text-white " style="width:40%;">
                            <hr style="border:1px solid #fff; width:100%; background-color:#fff; margin:1.8em 0; margin-left:auto;">
                          </div>
                        </div>
                         <div class="row no-gutters nav-bottom_class">
                            <div class="col-12">
                               <nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
       <ul class="navbar-nav mr-auto ">
       <li class="nav-item">
          <a class="nav-link " href="/home.html"><span class="text-uppercase">Home</span></a>
        </li>
        <li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <span class="text-uppercase">Discover Us</span> </a>
				<div class="dropdown-menu dropdown-menu-end fade-down">
					   <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
				</div> 
			 </li>
        
       <li class="nav-item dropdown">
           
          <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown"><span class="text-uppercase">Political Survey / Campaign</span></a>
          <div class="dropdown-menu dropdown-menu-end fade-down" >
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
          </div>

        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
           
          <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown"><span class="text-uppercase">IT Services</span></a>
          <div class="dropdown-menu dropdown-menu-end fade-down" >
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"><span class="text-uppercase">Elections</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="text-uppercase">Blog</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="text-uppercase">Contact Us</span></a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
                            </div>
                        </div> 
        </div>

    </header>
<!-- navbar end -->
<!-- About Us section start -->
<section class="about_us pb-5">
    <h2 id="about_heading"><span>About Us</span>
        <div class="img_head_container">
                <img src="/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text">
       <p class="about_para1">
           IF YOU ARE PREPARING FOR THE ELECTION, THEN STOP IT
       </p>
       <hr style="width:34%; text-align:center;">
       <p class="about_para2">
           Political Survey and Political information technology drives all we do.
       </p>
       <p class="about_para1">
           Electioncare uses Political survey and political information technology to change voter behavior.<br> 
           Visit our Political survey or Political information technology divisions to see how we can help you.
       </p>
    </div>
  <!-- circular progress bar start -->
  <div class="container-fluid my-5 ">
       <div class="row ">
         <div class="col-12 ">
             <div class="cpb ">
               <div class="row">
                 <div class="col-12 col-lg-6">
                     <div class="container1_cpb">
                        <div class="circlechart" data-percentage="97">Political Survey</div>
                     </div>
                 </div>
                 <div class="col-12 col-lg-6">
                      <div class="container1_cpb">
                         <div class="circlechart" data-percentage="95">Political IT</div>
                      </div>
                 </div>
               </div>
                
                 
            </div>
         </div>
       </div>
      
  </div>
  <!-- Circular progress bar end -->
  <!-- properties venn diagram section start -->
  <div class="container-fluid three_overlapping_circles">
     <div class="row no-gutters">
       <div class="col-12 col-md-6 col-lg-4">
         <div class="our_mission">
           <h4>Our Mission</h4>
           <hr style="width: 122px; height: 0px;margin-left:0; border: 2px solid #2A5BBA;">
           <p>
             We strive to ensure that. That the popularity of the candidates continued to grow in the right direction 
             through the hard work of our team and innovative technologists and skilled politicians.
            </p>
         </div>
       </div>
        <div class="col-12 col-lg-4">

                <div class="venn-container">
                                  
                        <div class="venncirclft">
                        <a class="venntxtlft" href="#"><img src="/assets/images/cle_lt.svg" alt="" ></a>
                        </div>
                        <div class="venncircrt">
                        <a class="venntxtrt" href="#"><img src="/assets/images/cle_rt.svg" alt="" ></a>
                        </div>
            

                        <div class="venncircbtm">
                        <a class="venntxtbtm" href="#"><img src="/assets/images/cle_btm.svg" alt="" ></a>
                        </div>
                </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
         <div class="our_mission">
           <h4>Our Mission</h4>
           <hr style="width: 122px; height: 0px;margin-left:0; border: 2px solid #2A5BBA;">
           <p>
             We strive to ensure that. That the popularity of the candidates continued to grow in the right direction 
             through the hard work of our team and innovative technologists and skilled politicians.
            </p>
         </div>
       </div>
</div>
  </div>
  <!-- properties venn diagram section stop -->
</section>
<!-- Messages section end -->
<!-- Address start -->
<section class="skewBox">
          <div class="container_bg_card">
               <div class="card foot_card">
                  <div class="card-body">
                    <p>
                      <span><img src="/assets/images/Vector.svg" class="icon_foot"></span><span>Meet - New Delhi</span><br>
                      <span class="card_add_margin">Meet - Kanpur</span>
                    </p>
                    <p>
                      <span><img src="/assets/images/Vector (2).svg" class="icon_foot"></span><span>+91-8077930508</span><br>
                      <span class="card_add_margin">+91-9520275040</span>
                    </p>
                    <p>
                      <span><img src="/assets/images/Vector (1).svg" class="icon_foot"></span><span>info@electioncare.in</span><br>
                      <span class="card_add_margin">sales@electioncare.in</span>
                    </p>
                  </div>
               </div>
        
      </div>
      </section>
<!-- Address end -->
    <!-- Footer start-->
     <footer class="pt-5">
         <div class="container">
           
           <div class="row no-gutters">
             <div class="col-12 col-sm-6 col-lg-3">
               <ul id="foot_list" class="list-unstyled ">
                 <li>
                   <span class="foot_head">
                     IT Marketing
                   </span>
                   <hr class="footer_hr">
                  </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
               </ul>
             </div>
             <div class="col-12 col-sm-6 col-lg-3">
               <ul class="list-unstyled">
                 <li>
                   <span class="foot_head">Bulk SMS</span>
                   <hr class="footer_hr">
                  </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
               </ul>
             </div>
             <div class="col-12 col-sm-6 col-lg-3">
               <ul class="list-unstyled">
                 <li>
                   <span class="foot_head">Software/Apps</span>
                   <hr class="footer_hr">
                  </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
               </ul>
             </div>
             <div class="col-12 col-sm-6 col-lg-3">
               <ul class="list-unstyled">
                 <li>
                   <span class="foot_head">Contact Us</span>
                   <hr class="footer_hr">
                  </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
               </ul>
             </div>
             
           </div>
           <div class="row no-gutters mt-4 mb-2">
             <div class="col-12 col-md-6">
               <p>All Rights Reserved © 2016 - 2021 by Election Care</p>
             </div>
             <div class="col-12 col-md-6">
               <p><a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Contact Us</a> | <a href="#">Blog</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></p>
             </div>
           </div>
         </div>
      </footer>
    <!-- Footer end -->
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
 <!-- Circular bar script -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
</script>
<script src="progresscircle.js"></script>
<script >
    $(function(){

  $('.circlechart').circlechart();

});
</script>
  </body>
</html>