<!doctype html>
<html lang="en">
  <head>
    <title>Thename</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">

    <!-- fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Tienne:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
     <script type="text/javascript">
     	document.addEventListener("DOMContentLoaded", function(){
		
		  window.addEventListener('scroll', function() {
	       
			if (window.scrollY > 80) {
				document.getElementById('navbar_top').classList.add('fixed-top');
				// add padding top to show content behind navbar
				navbar_height = document.querySelector('.navbar').offsetHeight;
				document.body.style.paddingTop = navbar_height + 'px';
		  	} else {
			 	document.getElementById('navbar_top').classList.remove('fixed-top');
				 // remove padding top from body
				document.body.style.paddingTop = '0';
		  	} 
		  });
    	}); 
    	// DOMContentLoaded  end
     </script>
  </head>
  <body>
      <!-- navbar start -->
      <!-- Social links nav -->
     <div class="container-fluid social_nav">
         <div class="row ">
             <div class="col-12 text-center">
            <div class="header_top_contain">
              <a href="https://www.facebook.com/"> <img src="/assets/images/fb.svg"></a>
              <a href="https://www.instagram.com/?hl=en"> <img src="/assets/images/insta.svg"></a>
              <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"> <img src="/assets/images/tweet.svg"></a>
               <a href="https://www.linkedin.com/"> <img src="/assets/images/linkedIn.svg"></a>
             </div>
            </div>
         </div>
     </div>
      <header id="navbar_top" class="header">
    
        <div class="container-fluid  ">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-6 text-left ">
                              <div class="row no-gutters">
                                <div class="col-12">
                                    
                                        <div class="in_contact">
                                       <img src="/assets/images/phone.svg" alt="logo"><span>+91 983 456 7894</span>
                                    </div>
                                     <div class="in_contact">
                                       <a class="" href="gmail.com">
                                          <img src="/assets/images/email.svg" alt="logo"><span>random@gmail.com</span>
                                       </a>
                                     </div>
                                
                                   
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-12 col-lg-6">
                                <div class="btn_enq">
                                    <a id="enq" href="#">
                                      Enquiry
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters nav-center_class" >
                          <div class="d-none d-md-inline text-white " style="width:40%;">
                            <hr style="border:1px solid #fff; width:100%; background-color:#fff; margin:1.8em 0;">
                          </div>
                          <div class="col text-sm-left text-md-center text-white">
                            
                                <h3 id="nav_logo" class="text-md-center">
                                  The<br>
                                  Name
                                </h3>

                           
                            </div>
                           <div class="d-none d-md-inline text-white " style="width:40%;">
                            <hr style="border:1px solid #fff; width:100%; background-color:#fff; margin:1.8em 0; margin-left:auto;">
                          </div>
                        </div>
                         <div class="row no-gutters nav-bottom_class">
                            <div class="col-12">
                               <nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
       <ul class="navbar-nav mr-auto ">
       <li class="nav-item">
          <a class="nav-link " href="/home.html"><span class="text-uppercase">Home</span></a>
        </li>
        <li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> <span class="text-uppercase">Discover Us</span> </a>
				<div class="dropdown-menu dropdown-menu-end fade-down">
					   <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
				</div> 
			 </li>
        
       <li class="nav-item dropdown">
           
          <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown"><span class="text-uppercase">Political Survey / Campaign</span></a>
          <div class="dropdown-menu dropdown-menu-end fade-down" >
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
          </div>

        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
           
          <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown"><span class="text-uppercase">IT Services</span></a>
          <div class="dropdown-menu dropdown-menu-end fade-down" >
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
             <a class="dropdown-item" href="#">lorem</a>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"><span class="text-uppercase">Elections</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="text-uppercase">Blog</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="text-uppercase">Contact Us</span></a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
                            </div>
                        </div> 
        </div>

    </header>
<!-- navbar end -->
<!-- politic servey banner start -->
<section class="politic_survey_banner ">
       <div class="container-fluid pt-5 px-0 ">
         <div class="row no-gutters ">
           <div class="col-12 col-lg-5">
             <div class="surv_card">
               <div class="surv_card-body">
                 <h3>
                   Political Survey & Information Technology drives all we do
                 </h3>
                 <h5>If you are preparing for the election you have reached the right place</h5>
                 <p>Political Survey & Information Technology drives all we do</p>
                 <div class="survey_buttons">
                    <a id="srv_btn1" href="#">Survey/Campaign</a>
                    <a id="srv_btn2" href="#">IT Services</a>
                 </div>
                 <div class="check_txt">
                   <img src="/assets/images/tick_sign.svg" alt="">
                   <span>Election related surveys</span><br>
                   <img src="/assets/images/tick_sign.svg" alt="">
                   <span>Election Results</span>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-12 col-lg-7 ">
             <div class="img_contain ">
               
                  <img src="/assets/images/Rectangle 12.svg" alt="" id="img2_surv">
               
               
                 <img src="/assets/images/Group 7.svg" alt="" id="img1_surv">
              
               
               
             </div>
           </div>
           <div class="col-12 ">
             <p id="last_surv_sec">
               Our IT Based Services - Pre Poll Survey, Election war Room Call Center, 
               Election Management Software, Booth Man
             </p>
           </div>
         </div>
       </div>
    </section>
<!-- politic servey banner end -->
<!-- Election change section start -->
    <section class="ech">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <div class="content">
              <h4>Elections Win Let’s Change History –</h4>
              <p>
                Election Care best Political Consulting & Political Campaign Services firm in India. 
                Help you boost up your image & reputation using the Voters. We are the Best political 
                consulting firm in India. We make Visible you on multiple channels connections and resources. 
                We Deliver Public Leader & Party Menifesto or Voice to more peoples to aware them. So Join best 
                political campaign management agency of india. We have professional & skilled staff. election care have 
                Good experience in political management in India.  We helped many national & state level leaders to 
                convey their message & Campaign in society through political campaign India. Election Care Services are 
                Digital Base. With Seasoned strategist and the best creative mind in the Political  and IT services, 
                We have the right team to get the good things done…
              </p>
            </div>
          </div>
          <div class="col-12 d-none d-lg-block col-lg-1">
            <div class="img_content">
              <img src="/assets/images/Rectangle 20.svg" alt="" id="img_1ech">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-5">
            <div class="img_content">
              <img src="/assets/images/Voting-bro 1.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Election change end -->
<!-- Our capabilities section start -->
    <section class="our_cap">
      <div class="oc_head">
        <h3><span>Our </span><span id="oc_hehad_cap">Capabilities</span>
            <div class="img_head_container">
                <img src="/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
        </h3>
      </div>
      <div class="container-fluid py-3">
          <div class="row">
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container1" class="card-img-container">
                            <img src="/assets/images/lead_train.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card1_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container2" class="card-img-container">
                            <img src="/assets/images/Group 10.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card2_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container3" class="card-img-container">
                            <img src="/assets/images/Group 8.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card3_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container4" class="card-img-container">
                            <img src="/assets/images/Group 11.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card4_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container5" class="card-img-container">
                            <img src="/assets/images/intro_consult.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card5_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-lg-6">
                    <div class="card-container">
                        <div id="card-img-container6" class="card-img-container">
                            <img src="/assets/images/fon.svg"alt="">
                        </div>
                        <div class="card-content">
                            
                            <h3 id="card6_head" class="card_head">
                                Leadership Traning
                            </h3>
                            <p>
                                We work with top training providers to tie those leadership roles to you. 
                                We also have the expertise to help you develop your internal leadership development
                                 program.
                            </p>
                        </div>
                    </div>
              </div>
          </div>
      </div>
    </section>
<!-- our capabilities section end -->

<!-- Election care services start -->
<div class="fancy-border ">
    <div class="container-fluid my-content">
       <div class="row">
           <div class="col-12 col-lg-6">
              <div class="img-container-fancy">
                  <img src="/assets/images/Rectangle 30.svg" alt="">
              </div>
           </div>
           <div class="col-12 col-lg-6">
               <div class="fancy_border_content">
                   <h3 >
                       <span id="ecs_head">Election Care</span>
                       <div class="img_head_container">
                          <img src="/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                          <img src="/assets/images/Vector 3.svg" id="vc_3_img" alt="">
                       </div>
                       <br><span> Services Explained</span>
                   </h3>
                   <p>
                       There has been an increase in the political agitation regarding the assembly elections, 
                       such that the stir only increases when the election is about to come. There are two teams 
                       in the election game, the voter and the candidate.
                   </p>
                   <p>
                        In this game, our task is to understand the behavior of the voter and make a strategy to make 
                        it in our favor.
                   </p>
                   <p>
                        There will be many of you candidates who either want to contest elections or have taken a step
                         ahead and formed your own party. After this you leave the work to us, say that since 10 years
                          our experienced team has worked with many parties like you and you, who have covered the 
                          journey from floor to Top together with us.
                   </p>
                   <p>
                       Our name is Election Care and Google Bhaiya will take you to us with great ease. 
                       We are the Election Management Company who will give a new flight to your political career.
                   </p>
               </div>
           </div>
       </div>
    </div>
</div>

<!-- Election Care Services end -->
<!-- Election care serve also start -->
<section class="elec_serve_also">
    <h3><span id="esa_head">Election Care</span>
      <div class="img_head_container">
                <img src="/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
      <br> <span>Serve Also</span></h3>
    <div class="ecsa_container">
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
       <a class="esa_btn" href="#">Lorem ipsum</a>
</div>
</section>
<!-- Election care serve also end -->
<!-- Political Campaign and promotion start-->
<div class="pcnp ">
    <div class="container-fluid my-content_pcnp">
       <div class="row">
           <div class="col-12 col-lg-6">
               <div class="pcnp_content">
                   <h3 >
                       <span id="pcnp_head">Political Election</span>
                       <div class="img_head_container">
                         <img src="/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                         <img src="/assets/images/Vector 3.svg" id="vc_3_img" alt="">
                       </div>
                       <br><span> Campaign & Promotion</span>
                   </h3>
                   <p>
                       There has been an increase in the political agitation regarding the assembly elections, 
                       such that the stir only increases when the election is about to come. There are two teams 
                       in the election game, the voter and the candidate.
                   </p>
                   <p>
                        In this game, our task is to understand the behavior of the voter and make a strategy to make 
                        it in our favor.
                   </p>
                   <p>
                        There will be many of you candidates who either want to contest elections or have taken a step
                         ahead and formed your own party. After this you leave the work to us, say that since 10 years
                          our experienced team has worked with many parties like you and you, who have covered the 
                          journey from floor to Top together with us.
                   </p>
                   <p>
                       Our name is Election Care and Google Bhaiya will take you to us with great ease. 
                       We are the Election Management Company who will give a new flight to your political career.
                   </p>
               </div>
           </div>
           <div class="col-12 col-lg-6">
              <div class="img-container-pcnp">
                  <img src="/assets/images/Rectangle 30.svg" alt="">
              </div>
           </div>
       </div>
    </div>
</div>

<!-- Political Campaign and promotion end-->
<!-- Address start -->
<section class="skewBox">
          <div class="container_bg_card">
               <div class="card foot_card">
                  <div class="card-body">
                    <p>
                      <span><img src="/assets/images/Vector.svg" class="icon_foot"></span><span>Meet - New Delhi</span><br>
                      <span class="card_add_margin">Meet - Kanpur</span>
                    </p>
                    <p>
                      <span><img src="/assets/images/Vector (2).svg" class="icon_foot"></span><span>+91-8077930508</span><br>
                      <span class="card_add_margin">+91-9520275040</span>
                    </p>
                    <p>
                      <span><img src="/assets/images/Vector (1).svg" class="icon_foot"></span><span>info@electioncare.in</span><br>
                      <span class="card_add_margin">sales@electioncare.in</span>
                    </p>
                  </div>
               </div>
        
      </div>
      </section>
<!-- Address end -->
    <!-- Footer start-->
     <footer class="pt-5">
         <div class="container">
           
           <div class="row no-gutters">
             <div class="col-12 col-sm-6 col-lg-3">
               <ul id="foot_list" class="list-unstyled ">
                 <li>
                   <span class="foot_head">
                     IT Marketing
                   </span>
                   <hr class="footer_hr">
                  </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
               </ul>
             </div>
             <div class="col-12 col-sm-6 col-lg-3">
               <ul class="list-unstyled">
                 <li>
                   <span class="foot_head">Bulk SMS</span>
                   <hr class="footer_hr">
                  </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
               </ul>
             </div>
             <div class="col-12 col-sm-6 col-lg-3">
               <ul class="list-unstyled">
                 <li>
                   <span class="foot_head">Software/Apps</span>
                   <hr class="footer_hr">
                  </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
               </ul>
             </div>
             <div class="col-12 col-sm-6 col-lg-3">
               <ul class="list-unstyled">
                 <li>
                   <span class="foot_head">Contact Us</span>
                   <hr class="footer_hr">
                  </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
                 <li>
                   lorem ipsum
                 </li>
               </ul>
             </div>
             
           </div>
           <div class="row no-gutters mt-4 mb-2">
             <div class="col-12 col-md-6">
               <p>All Rights Reserved © 2016 - 2021 by Election Care</p>
             </div>
             <div class="col-12 col-md-6">
               <p><a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Contact Us</a> | <a href="#">Blog</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></p>
             </div>
           </div>
         </div>
      </footer>
    <!-- Footer end -->
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
 
  </body>
</html>