{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="about_us pb-5" >
    <h2 id="about_heading"><span>Election SMS Campaigning</span></h2>
        <!-- <img src="{% static 'assets/images/electionsms.jpg' %}"  alt="" style="border-radius: 50%;width:200px;margin-left:900px;"> -->
        
   
    <div class="about_text" >
      <div class="about_us"style="text-align:justify;margin-left:120px;margin-right:300px;font-family: Poppins-light; font-size:22px;list-style-type: none;">
        <!-- <img src="{% static 'assets/images/electionsms.jpg' %}"  alt="" style="border-radius: 50%;width:200px;margin-left:1100px;margin-top:55px;"> -->
        <p>A key part of any political campaign strategy should be selecting the right communications tools. SMS text messaging can help you get your message out quickly to supporters and voters. Organize rallies, register new voters, increase voter turnout and remind supporters about the key issues of your campaign</p>
       
    <p class="about_para2" style="color:#2A5BBA;">Why Political Campaign use it?</p>
    <li>
    <i style="font-size:24px;color:#2A5BBA;" class="fa">&#xf2b6;</i>
    More Effective than sending Mails
    <p>98% of recipients read their text messages, 90% within 3 minutes.</p>
    </li>
    <li>
      <i style="font-size:24px; color:#2A5BBA;" class="fa">	&#xf075;</i>
      Best way to reach younger voters.
      <p>95% of 18-29 year use text and average 87.7 text messages on a normal day.</p>
    </li>
    <li>
      <i style="font-size:24px;color:#2A5BBA;" class="fa">&#xf199;</i>
      More effective than sending emails

      <p>Most cell phones receive text messages. No need to download apps or have a smartphone.</p>
    </li>
  </div>
</div>

 </section>

{% endblock %}