{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
     .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      /* height:15px; */
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
  background: #3B5998;
  color: white;
}

</style>

 <section class="msgs">
    <img src="{% static 'images/fb.jpg' %}"  alt="" style="width: 1800px; height:700px;">
    <h2 id="msg_heading"><span>Facebook Promotion</span>
        
            <div class="img_head_container">
                <img src="{% static 'assets/images/Vector 2.svg' %}" id="vc_2_img" alt="">
                <img src="{% static 'assets/images/Vector 3.svg' %}" id="vc_3_img" alt="">
            </div>
            <p style="font-size: 20px;padding:15px;">Facebook marketing plays a crucial role in the creation of brand identity, product awareness, lead generation, sales conversion and proper feedback.</p>
    </h2>
    <div class="msg_out_container">
        <div class="card msg_container">
        <div class="msg_para">
            <h5 style="color:white;">Facebook for Politics </h5>
            <p>
            Our mission is to give people a voice in the issues that matter to them so they can build the communities they want. We do this by building tools that help people be informed voters in the lead up to elections, and by helping them find, follow, and connect with the people that represent them in government. An important part of our mission is equipping elected officials, candidates, and government organizations.</p>
           
        </div>
       
    </div>
    <div class="card msg_container">
        <div class="msg_para">
            <h5 style="color:white;"> Facebook Marketing Services</h5>
            <ul style="list-style-type: none;">
                <li>Content Optimization</li>
                <li>Strategic Content Development</li>
                <li>Page Like Campaigns</li>
                <li>Boosting Post Campaigns</li>
                <li>Lead Generation Campaigns</li>
                <li>Event Promotion</li>
                <li>App Promotion</li>
                <li>Facebook Video Promotion</li>
                <li>Facebook Page Audit</li>
                <li>Facebook Content Audit</li>
                <li>Remarketing</li>
                <li>Social Media Intelligence</li>
            </ul>
            
        </div>
        <!-- <a href="https://facebook.com/" class="fa fa-facebook"></a> -->
           </div>
    </div>
   
    
</section>


{% endblock %}