{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<section class="about_us pb-5">
    <h2 id="about_heading"><span>Secure Transaction and Hassle Free Activation</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text" >
       <p class="about_para1" style="text-align:justify; margin-left:100px;margin-right:75px;font-family: Poppins-light; font-size:22px;list-style-type: none;">
        Ensure authentication of transactions with one time password (OTP). Help customers with safe online transactions offering better customer service.One Time Passwords make activation processes easier, efficient and seamless. Send activation codes via SMS to phone numbers to validate the mentioned number. It’s the perfect way to lower user acquisition costs while optimizing every activation regardless of attribution.
       </p>
      
       
    </div>
  
 </section>

{% endblock %}