{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<section class="about_us pb-5">
    <h2 id="about_heading"><span >SMS Marketing</span></h2>
        <img src="{% static 'assets/images/sms.jpg' %}"  alt="" style="margin:5px; width:auto; height:300px;">
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    <!-- </h2> -->

    <div class="about_text">
       <p class="about_para1">
          
       </p>
      
      
      
       <div class="about_us"style="text-align:justify; margin-left:120px;margin-right:100px;font-family: Poppins-light; font-size:22px;">
       <p>Marketing sms sent to mass customer base to promote brand, offer, sale, branch etc is promotional sms. Electioncare provides bulk push platform with live reporting and scrubbing. Get your campaign executed on time with confidence when you choose us as your promotional sms service provider. Push sms with host of marketing and supplementary tools that suits your need.</p>
       <p class="about_para2" >Features of  SMS Marketing </p>
       <li>Dynamic Numeric Sender ID</li>
       <li>Delivery Report</li>
       <li>Multi Language Support with unicode SMS</li>
       <li>Short SMS</li>
       <li>Mobile Friendly Interface</li>
    </div>
    </div>
  
 </section>

{% endblock %}