{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="about_us pb-5" >
    <h2 id="about_heading"><span>Text to Voice</span></h2>
        <!-- <img src="{% static 'assets/images/electionsms.jpg' %}"  alt="" style="border-radius: 50%;width:200px;margin-left:900px;"> -->
        
   
    <div class="about_text" >
      <div class="about_us"style="text-align:justify;margin-left:120px;margin-right:300px;font-family: Poppins-light; font-size:22px;list-style-type: none;">
        <!-- <img src="{% static 'assets/images/electionsms.jpg' %}"  alt="" style="border-radius: 50%;width:200px;margin-left:1100px;margin-top:55px;"> -->
        <p>Broadcast marketing and other messages to customers via outbound phone calls with optional IVR feedback. IT isa platform offers the ability to send voice messages to recipients phones (land lines or cell phones).</p>
       
    
    <li>
    <i style="font-size:24px;color:#2A5BBA;" class="fa" >&#xf2a0;</i>
    Your application calls
    <p> Your application calls a list of phone numbers from a database</p>
    </li>
    <li>
      <i style="font-size:24px; color:#2A5BBA;" class="fa">	&#xf27a;</i>
      Call recipients hear your message
      <p>Individuals answer the phone and hear a pre-recorded or text-to-speech message. Text-to-speech messages can also include information that has been personaliz</p>
    </li>
    <li>
      <i style="font-size:24px;color:#2A5BBA;" class="fa">&#xf130;</i>
    Call recipients can respond

      <p>If you request feedback, individuals can respond to an IVR menu or record an audio response.</p>
    </li>
  </div>
</div>

 </section>

{% endblock %}