{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<section class="about_us pb-5">
    <h2 id="about_heading"><span>Transitional SMS</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text">
       <p class="about_para1">
          
       </p>
      
       <p class="about_para2">
       </p>
      
       <div class="about_us"style="text-align:justify; margin-left:120px;margin-right:100px;font-family: Poppins-light; font-size:22px;">
        <p>With changing times, the definition and ways of SMS promotion have undergone a drastic transformation. And a part of this transformation is the rising importance of transactional sms.

            With the quantity of information increasing at a high speed, it becomes necessary to deliver quality information to the general public at a right time. Transactional SMS have come to the fore for this purpose. They assist in sending the right amount of information to the right set of public at the right time, and the biggest advantage of transactional bulk SMS is that they can be sent 24×7 with your sender ID.</p>
       </div>
    </div>
  
 </section>

{% endblock %}