{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="about_us pb-5" >
    <h2 id="about_heading"><span>Virtual Number</span></h2>
        <!-- <img src="{% static 'assets/images/electionsms.jpg' %}"  alt="" style="border-radius: 50%;width:200px;margin-left:900px;"> -->
        
   
    <div class="about_text" >
      <div class="about_us"style="text-align:justify;margin-left:120px;margin-right:300px;font-family: Poppins-light; font-size:22px;list-style-type: none;">
        <!-- <img src="{% static 'assets/images/electionsms.jpg' %}"  alt="" style="border-radius: 50%;width:200px;margin-left:1100px;margin-top:55px;"> -->
        <p>A virtual number, also known as direct inward dialing (DID) or access number, is a telephone number without a directly associated telephone line. Usually these numbers are programmed to forward incoming calls to one of the pre-set telephone numbers, chosen by the client: fixed, mobile or VoIP. A virtual number can work like a gateway between traditional calls (PSTN) and VOIP.</p>
       
    <p class="about_para2" style="color:#2A5BBA;">Why Virtual Number needs?</p>
    <li>
    <i style="font-size:24px;color:#2A5BBA;" class="fa">&#xf2b6;</i>
   Smart Call Routing
    <p>Automatically redirect customers calls to the right agents based on their requirements

    </p>
    </li>
    <li>
      <i style="font-size:24px; color:#2A5BBA;" class="fa">	&#xf075;</i>
     Sound Professional
      <p>
        
        Give your business a professional image without burning a hole in your pocke</p>
    </li>
    <li>
      <i style="font-size:24px;color:#2A5BBA;" class="fa">&#xf199;</i>
     Dispute Resolution

      <p>Since all your calls are tracked, you can easily resolve disputes and confusions in customer conversations.</p>
    </li>
    <li>
        <i style="font-size:24px;color:#2A5BBA;" class="fa">&#xf199;</i>
       Remote Working
        <p>Your employees no longer need to be chained to their desks. Remote working becomes a possibility, too</p>
      </li>
  </div>
</div>

 </section>

{% endblock %}