{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<section class="about_us pb-5">
    <h2 id="about_heading"><span>Whatsapp Marketing</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text">
       <p class="about_para1">
          
       </p>
      
       <p class="about_para2">
           Best Whatsapp Marketing Campaign Strategies
       </p>
       <!-- <ul> -->
        <div class="about_us"style="text-align:justify; margin-left:500px;font-family: Poppins-light; font-size:22px;list-style-type: none;">
       <li>Create an engaging brand persona for Whatsapp to chat with users and build buzz</li>
       <li> Offer one to one help to inspire new users for a product</li>
       <li>Offer Great value to build phone databse</li>
       <li>Offer discreet service and advise to high-value customers</li>
        <li>Encourage user opt-in and provide simple and clear instructions</li>
        <li>Deliver Speedy customer service</li>
       </div>
        <!-- </ul> -->
    </div>
  
 </section>

{% endblock %}