{% extends 'basic.html' %} 
{% block body %} 
{% load static %} 
<section class="about_us pb-5">
    <h2 id="about_heading"><span>Youtube Marketing</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text">
       <p class="about_para1">
          
       </p>
      
       <p class="about_para2"> We have four main spheres of targeting options:
       </p>
      
       <div class="about_us"style="text-align:justify; margin-left:520px;font-family: Poppins-light; font-size:22px;list-style-type: none;">
       <li>Who : Try choosing specific or niche audiences</li>
       <li>Where : Define the location of your audience</li>
       <li>When : Define hoe often your ads are shown and on which devices. </li>
       </div>
    </div>
  
 </section>

{% endblock %}