{% extends 'basic.html' %}
{% block body %}
{% load static %}

<section class="about_us pb-5">
    <h2 id="about_heading"><span style="text-decoration: none;">Booth Label Micro</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
 
  <!-- properties venn diagram section start -->
  <div class="container-fluid three_overlapping_circles" style="font-size: 22px;margin-left:-15px;margin-top:-115px;">
     <div class="row no-gutters">
       <!-- <div class="col-12 col-md-6 col-lg-4"> -->
         <div class="our_mission" style="margin-left:200px; ">
           <h4> Why choose Young Politics for research at Booth level?</h4>
           <!-- <hr style="width: 122px; height: 0px;margin-left:0; border: 2px solid #2A5BBA;"> -->
          <p style="font-size: 22px;text-align:justify">In the successful flight of politics, Young Politics works on the principle of voter power.Our Surveyors had a good experinece and they have special political experience at the booth level of what and how to talk on booth star.Our team also understands data effective systems. By going to the booth to discuss the issues, you are able to assess your current political situation at each booth. Our Pollsters find themselves in the same environment between the views of your regional language and the views of the voters, so that they win the hearts of the voters and share their open thoughts among our surveyors. </p>
            
        </div>
       <!-- </div> -->
        
       </div>
  </div>
  
  <!-- properties venn diagram section stop -->
</section>
{% endblock %}