{% extends 'basic.html' %}
{% block body %}
{% load static %}

<section class="about_us pb-5">
    <img src="{% static 'assets/images/docfilm.jpg' %}" alt="" style="height:500px;width:1100px;">
    <h2 id="about_heading"><span style="text-decoration: none;">Political Documentary Film</span>
        
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
   
<!-- properties venn diagram section start -->
  <div class="container-fluid three_overlapping_circles" style=" padding-top: 0px;">
     <div class="row no-gutters">
        <div class="our_mission"  style="margin-left:120px;margin-right:70px; padding-top: 0px;padding-right: 115px;font-family: Poppins-light;font-size: 24px;">
            <p style="font-family: Poppins-Regular; font-size:22px;text-align:justify;">Video plays an important role in election campaign keeping in mind the image of the candidate in his constituency. In the earlier elections, politicians have been exchanging their views on the basis of the meeting in their constituency, but due to the changing digital technology, in today’s time video attracts more attention of all of us and that is why, apart from reading We make the video sit in our mind soon. A movement in which your role is seen through video gathering. Continuously run in the constituency. Through the film screen, we rotate it in our entire constituency and we are able to talk to the people through video message.

                The short video film works on the lines of a social media. In today’s era, people have started using social media very much. In such a situation, if our short film is made available to the voters through all social media platforms, then we surely get good benefit in our elections. This is the reason, that all politicians today use this medium.
                
                In making a short film video, it should be remembered that it should also decorate the issues related to the public so that the people of the constituency can keep you in touch with them. Election care helps you reach the public through this medium.
                
                We can bring the video film prepared for you on social stations such as YouTube for publicity and trending, which we get a direct benefit in our constituency.
            </p>
       
       <!-- <div class="col-12 col-md-6 col-lg-4"> -->
        
                   </div>
       <!-- </div> -->
        <!-- <div class="col-12 col-lg-4"> -->

          <!-- <div class="col-12 col-md-6 col-lg-5"> -->
          
          <!-- </div> -->
      
        <!-- </div> -->
       </div>
  </div>
  
  <!-- properties venn diagram section stop -->
</section>
{% endblock %}