{% extends 'basic.html' %}
{% block body %}
{% load static %}

<section class="about_us pb-5" style="font-family:Poppins-Light;font-size: 22px;">
  
    <h2 id="about_heading"><span style="text-decoration: none;">Opinion Poll</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="{% static 'assets/images/pollbooth.jpg' %}"style="width:1100px; height:600px;margin-left:150px;" >
         <!-- <div class="img-container-fancy"> -->
             <!-- <img src="{% static 'assets/images/Rectangle 30.svg' %}" alt="" style="max-width: ;"> -->
         <!-- </div> -->
      </div>
    </div>
   
    <div class="about_text">
      
       <p class="about_para2">
        What is Opinion Poll?
       </p>
       <p class="about_para1"  style="font-family:Poppins-Light;font-size: 22px; margin-right: 190px;margin-left: 150px;text-align: justify;">
          It is a survey or investigation conducted on a scientific method designed to clothe public opinion about a particular subject or range of subjects.
          Interview interviewer questions people in your political field.They are used by customers during election campaign to identify their image and by media to see which candidate is going to be in the election.
       </p>
    </div>
 
  <!-- properties venn diagram section start -->
  <div class="container-fluid three_overlapping_circles">
     <div class="row no-gutters">
       <div class="col-12 col-lg-4">
         <div class="our_mission" style="margin-left:100px; white-space: nowrap;margin-top: -150px;">
           <h4>Aspects</h4>
           <!-- <hr style="width: 122px; height: 0px;margin-left:0; border: 2px solid #2A5BBA; white-space: nowrap;"> -->
           
           <li>Better effective team</li>
           <li>Understanding the views of voters</li>
           <li>Focusing on issues</li>
           <li>Rate of accuracy</li>
      
          </div>
       </div>
        <div class="col-12 col-lg-4">

            
        </div>
        <div class="col-12 col-md-6 col-lg-4">
         <div class="our_mission" style="margin-left:5px;margin-top: -150px;margin-right: 170px;white-space: nowrap;">
           <h4>Features</h4>
           <!-- <hr style="width: 122px; height: 0px;margin-left:0; border: 2px solid #2A5BBA;"> -->
           <li>Reasonable question structure</li>
           <li>Strong team of surveyors</li>
           <li>Understanding of voters</li>
           <li>Survey Report</li>
         </div>
       </div>
</div>
  </div>
  <!-- properties venn diagram section stop -->
</section>
{% endblock %}