{% extends 'basic.html' %}
{% block body %}
{% load static %}

<section class="about_us pb-5">
    <h2 id="about_heading"><span style="text-decoration: none;">Political Survey and Research</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text">
      
       <p class="about_para2">
        
       </p>
       <p class="about_para1" style="font-family:Poppins-Light;font-size: 22px; margin-right: 95px;margin-left: 95px;text-align: justify;">
         Election Care helping political parties and candidates to win tough elections, by developing and implementing innovative research methodologies and research strategies tailored to the needs of the candidates and their constituencies and thereby providing them a winning formula with a set of actionable ideas therby helping them to beat their competitors.
         Political survey is a synonym for new success with a new flight in democratic election.Political survey and research shows us to adapt our election environment and ideology of conflict in the field of opposite candidate.
       </p>
    </div>
    
    
 
  <!-- properties venn diagram section start -->
  <div class="container-fluid three_overlapping_circles" style="font-family:Poppins-Light;font-size: 22px;">
     <div class="row no-gutters">
       <div class="col-12 col-md-6 col-lg-4">
         <div class="our_mission" style="margin-left:200px; white-space: nowrap;">
           <h4>Political Research and Survey Theory</h4>
           <!-- <hr style="width: 122px; height: 0px;margin-left:0; border: 2px solid #2A5BBA;"> -->
           <li>Study of sample</li>
           <li>Opinion Poll</li>
           <li>Door to door Campaign</li>
           <li>Booth Label Research</li>
           <li>Contact with effective voters</li>
           <li>Telephonic Survey</li>
           <li>Importance of Scoial Media Platform</li>
         </div>
       </div>
        <div class="col-12 col-lg-4">

          <!-- <div class="col-12 col-md-6 col-lg-5"> -->
            <div class="img_content">
              <img src="{% static 'assets/images/Voting-bro 1.svg' %}" alt="" style="margin-left:500px;">
            </div>
          <!-- </div> -->
      
        </div>
       </div>
  </div>
  
  <!-- properties venn diagram section stop -->
</section>
{% endblock %}