{% extends 'basic.html' %}
{% block body %}
{% load static %}
<section class="about_us pb-5">
    <h2 id="about_heading"><span style="text-decoration: none;">Vote Appeal and Awareness</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
    <div class="about_text" style="margin-left:200px;margin-right: 150px; ">
       <!-- <p class="about_para1">
           IF YOU ARE PREPARING FOR THE ELECTION, THEN STOP IT
       </p> -->
       
       <p class="about_para2" >
        Why should you vote?
       </p>
       <p style="font-size:22px; text-align:justify;font-family:Poppins-light;margin-left:50px;margin-right:50px;">
         To make a change. To get access to education, better healthcare and childcare, fair tax policies, basic income, better roads and transport facilities, and other basic amenities. You should vote to make your voice heard. Your chance to vote gives you the power to choose the most suitable candidate who can run the country. If you vote, you can decide who represents your city and country

        As one of the significant processes to determine the smooth functioning of a city, voting is a fundamental right that every individual should exercise, irrespective of age, knowledge, or experience.  Although millions of people vote, every vote counts to select the right candidate for the country. The process of voting acts as a gateway to various forms of civic engagement, especially when young people face massive challenges such as unemployment, student loans, and educational policies. If we support and encourage them to vote, it will certainly help raise a new and modern generation of responsible citizens who will actively get involved in building a prosperous nation.
       </p>
       <!-- <div class="col-12 col-lg-6"> -->
        <!-- <div class="img-container-fancy"> -->
            <!-- <img src="{% static 'assets/images/Rectangle 30.svg' %}" alt="" style="margin-left:500px;"> -->
        <!-- </div> -->
     <!-- </div> -->
    </div>
  
</section>

{% endblock %}