{% extends 'basic.html' %}
{% block body %}
{% load static %}

<section class="about_us pb-5">
    <h2 id="about_heading"><span style="text-decoration: none;">War Rooms /Call Center</span>
        <div class="img_head_container">
                <img src="static/assets/images/Vector 2.svg" id="vc_2_img" alt="">
                <img src="static/assets/images/Vector 3.svg" id="vc_3_img" alt="">
            </div>
    </h2>
 
  <!-- properties venn diagram section start -->
  <div class="container-fluid three_overlapping_circles" style="padding-top: 1px;">
     <div class="row no-gutters">
       <!-- <div class="col-12 col-md-6 col-lg-4"> -->
         <div class="our_mission" >
          <p style="font-size: 22px;">War rooms have techies who track voters and their phone numbers to contact them during elections. Use of GPRS and monitoring via video and audio facility will be an added feature this time around. Preparation for war rooms started three months ago and these have started functioning even as the parties are yet to announce the candidates. Social media is the major weapon in the battle of ballots. Facebook, Twitter and whatsapp played a crucial role in victory election. War room is a major chamber of political campaigning. The electoral room is usually a digital room. In such a place where all the movements happening in public are monitored by the skill core team in our electoral field. Warrior, who is fully skilled in the electoral field makes iportant plans on your election campaign and you activate those plans in the constituency and keep a constant eye. We need technical support and skilled IT staff to set up the election room.</p>
        </div>
       <!-- </div> -->
       <div class="our_mission" >
        <h2 id="about_heading"><span>Why Young Politics is important in the Political War room?</span></h2>
        <p style="font-size: 22px;"> Young Politics has experinece inIndian Elections.We have skilled election experts and people with good experiencein the electoral field. Along with presenting your brand we have the experience of doing better social media management.</p>
        </div>
       </div>
  </div>
  
  <!-- properties venn diagram section stop -->
</section>
{% endblock %}